body {
  padding: 50px;
}

.about {
  #border: 3px solid blue;
  #padding: 20px 40px 40px;
  &_pic {
    float: right;
    width: 30%;
    margin-left: 30px;
    #box-shadow: 5px 5px 5px #888888;
  }
  &_text {
    #border: 3px solid grey;
    display: inline;
  }
}
