body {
  padding: 50px;
}

.home {
  #border: 3px solid blue;
  #padding: 20px 40px 40px;
  &_pic {
    #border: 3px solid grey;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 30px;
    #box-shadow: 5px 5px 5px #888888;
  }
  &_text {
    #border: 3px solid grey;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
  }
}
