.group {
  border: 2px solid #529193;
  &_header {
    font-size: 160%;
    text-align: center;
    background: #8ED6D5;
  }
  &_description {
    line-height: 1;
    margin-left: 10px;
  }
  &_list {
    #list-style: none;
    border: 1px solid black;
    margin-right: 20px; 
  }
  &_list li::marker {
    content: '\273C';
  }
}
